body {
    background-size: cover;
    margin-top: 1%;
    background: linear-gradient(to right, rgb(0, 0, 0) 45%, rgb(223, 202, 202) 50%);
}

.img-fluid {
    width: auto;
    text-align: center;
    padding-right: 75px;
}